<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
    <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <div class="d-flex flex-column flex-column-fluid">
            <div id="kt_app_content" class="app-content">
                <div id="kt_app_content_container" class="app-container container-fluid">

                    <!-- FAQ -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-7">
                            <div class="card">
                                <div class="card-body p-lg-15">
                                    <div class="mb-13">
                                        <div class="mb-15">
                                            <h4 class="fs-2x text-gray-800 w-bolder mb-6">Questions fréquemment posées</h4>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-12 pe-md-10 mb-10 mb-md-0">

                                                <!-- Question -->
                                                <div class="m-0">
                                                    <div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#question_1">
                                                        <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
                                                            <i class="ki-outline ki-minus-square toggle-on text-primary fs-1"></i>
                                                            <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                                                        </div>
                                                        <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Quels modes de paiement acceptez-vous ?</h4>
                                                    </div>
                                                    <div id="question_1" class="collapse fs-6 ms-1">
                                                        <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">
                                                            <ul>
                                                                <li class="mb-3">
                                                                    <i class="fa-solid fa-credit-card me-1"></i>
                                                                    Carte bancaire (Visa, Mastercard, American Express)
                                                                </li>
                                                                <li>
                                                                    <i class="fa-brands fa-paypal me-1"></i>
                                                                    PayPal
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="separator separator-dashed"></div>
                                                </div>
                                                <!-- / Question -->

                                                <!-- Question -->
                                                <div class="m-0">
                                                    <div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#question_2">
                                                        <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
                                                            <i class="ki-outline ki-minus-square toggle-on text-primary fs-1"></i>
                                                            <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                                                        </div>
                                                        <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Comment puis-je suivre ma commande ?</h4>
                                                    </div>
                                                    <div id="question_2" class="collapse fs-6 ms-1">
                                                        <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">Une fois votre commande expédiée, vous recevrez un mail avec un numéro de suivi. Vous pouvez également suivre l'état de votre commande dans la page <a href="mes-commandes.html" class="text-gray-900 text-decoration-underline" target="_blank">Mes commandes</a> de votre compte.</div>
                                                    </div>
                                                    <div class="separator separator-dashed"></div>
                                                </div>
                                                <!-- / Question -->

                                                <!-- Question -->
                                                <div class="m-0">
                                                    <div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#question_3">
                                                        <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
                                                            <i class="ki-outline ki-minus-square toggle-on text-primary fs-1"></i>
                                                            <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                                                        </div>
                                                        <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Puis-je annuler ma commande ?</h4>
                                                    </div>
                                                    <div id="question_3" class="collapse fs-6 ms-1">
                                                        <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">Vous pouvez annuler votre commande tant qu'elle n'a pas été expédiée.</div>
                                                    </div>
                                                    <div class="separator separator-dashed"></div>
                                                </div>
                                                <!-- / Question -->

                                                <!-- Question -->
                                                <div class="m-0">
                                                    <div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#question_4">
                                                        <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
                                                            <i class="ki-outline ki-minus-square toggle-on text-primary fs-1"></i>
                                                            <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                                                        </div>
                                                        <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Que faire si je reçois un jeu endommagé ?</h4>
                                                    </div>
                                                    <div id="question_4" class="collapse fs-6 ms-1">
                                                        <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">Contactez notre service client dans les plus brefs délais. Nous organiserons un retour et un remplacement ou un remboursement selon le cas.</div>
                                                    </div>
                                                    <div class="separator separator-dashed"></div>
                                                </div>
                                                <!-- / Question -->

                                                <!-- Question -->
                                                <div class="m-0">
                                                    <div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#question_5">
                                                        <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
                                                            <i class="ki-outline ki-minus-square toggle-on text-primary fs-1"></i>
                                                            <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                                                        </div>
                                                        <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Quels sont les frais de livraison ?</h4>
                                                    </div>
                                                    <div id="question_5" class="collapse fs-6 ms-1">
                                                        <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">Il n'y a pas de frais de livraison pour les commandes effectuées sur ce site.</div>
                                                    </div>
                                                    <div class="separator separator-dashed"></div>
                                                </div>
                                                <!-- / Question -->

                                                <!-- Question -->
                                                <div class="m-0">
                                                    <div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#question_6">
                                                        <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
                                                            <i class="ki-outline ki-minus-square toggle-on text-primary fs-1"></i>
                                                            <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                                                        </div>
                                                        <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Quels sont les délais de livraison ?</h4>
                                                    </div>
                                                    <div id="question_6" class="collapse fs-6 ms-1">
                                                        <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">Les délais de livraison varient en fonction de votre adresse et du mode de livraison choisi. En général, il faut compter entre 2 et 5 jours ouvrés.</div>
                                                    </div>
                                                    <div class="separator separator-dashed"></div>
                                                </div>
                                                <!-- / Question -->

                                                <!-- Question -->
                                                <div class="m-0">
                                                    <div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#question_7">
                                                        <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
                                                            <i class="ki-outline ki-minus-square toggle-on text-primary fs-1"></i>
                                                            <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                                                        </div>
                                                        <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Puis-je retourner un jeu ?</h4>
                                                    </div>
                                                    <div id="question_7" class="collapse fs-6 ms-1">
                                                        <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">Oui, vous disposez d'un délai de 14 jours après réception de votre commande pour retourner un jeu dans son emballage d'origine et en parfait état.</div>
                                                    </div>
                                                    <div class="separator separator-dashed"></div>
                                                </div>
                                                <!-- / Question -->

                                                <!-- Question -->
                                                <div class="m-0">
                                                    <div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#question_8">
                                                        <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
                                                            <i class="ki-outline ki-minus-square toggle-on text-primary fs-1"></i>
                                                            <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                                                        </div>
                                                        <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Proposez-vous des précommandes ?</h4>
                                                    </div>
                                                    <div id="question_8" class="collapse fs-6 ms-1">
                                                        <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">Nous ne proposons aucune précommande.</div>
                                                    </div>
                                                    <div class="separator separator-dashed"></div>
                                                </div>
                                                <!-- / Question -->

                                                <!-- Question -->
                                                <div class="m-0">
                                                    <div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#question_9">
                                                        <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
                                                            <i class="ki-outline ki-minus-square toggle-on text-primary fs-1"></i>
                                                            <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                                                        </div>
                                                        <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Avez-vous un programme de fidélité ?</h4>
                                                    </div>
                                                    <div id="question_9" class="collapse fs-6 ms-1">
                                                        <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">Nous n'avons aucun programme de fidélité.</div>
                                                    </div>
                                                    <div class="separator separator-dashed"></div>
                                                </div>
                                                <!-- / Question -->

                                                <!-- Question -->
                                                <div class="m-0">
                                                    <div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#question_10">
                                                        <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
                                                            <i class="ki-outline ki-minus-square toggle-on text-primary fs-1"></i>
                                                            <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                                                        </div>
                                                        <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Est-il possible d'acheter des cartes cadeaux ?</h4>
                                                    </div>
                                                    <div id="question_10" class="collapse fs-6 ms-1">
                                                        <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">Il n'est pas possible d'acheter des cartes cadeaux.</div>
                                                    </div>
                                                    <div class="separator separator-dashed"></div>
                                                </div>
                                                <!-- / Question -->

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4 bg-light text-center">
                                        <div class="card-body py-12">
                                            <a routerLink="/contact" class="btn btn-primary">Je ne trouve pas ma question</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / FAQ -->

                </div>
            </div>
        </div>
        
    </div>
</div>