<div id="kt_app_footer" class="app-footer">
    <div class="app-container container-fluid d-flex flex-column flex-md-row flex-center flex-md-stack py-3">
        <div class="text-gray-900 order-2 order-md-1">
            <span class="text-muted fw-semibold me-1">&copy; 2024 Game Haven</span>
        </div>
        <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
            <li class="menu-item">
                <a routerLink="/mentions-legales" class="menu-link px-2">Mentions légales</a>
            </li>
            <li class="menu-item">
                <a routerLink="/cgu" class="menu-link px-2">CGU</a>
            </li>
            <li class="menu-item">
                <a routerLink="/cgv" class="menu-link px-2">CGV</a>
            </li>
            <li class="menu-item">
                <a routerLink="/politique-de-confidentialite" class="menu-link px-2">Politique de confidentialité</a>
            </li>
            <li class="menu-item">
                <a routerLink="/cookies" class="menu-link px-2">Cookies</a>
            </li>
        </ul>
    </div>
</div>