<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
    <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <div class="d-flex flex-column flex-column-fluid">
            <div id="kt_app_content" class="app-content">
                <div id="kt_app_content_container" class="app-container container-fluid">

                    <!-- FORMULAIRE DE CONTACT -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-7">
                            <div class="card">
                                <div class="card-body p-lg-15">
                                    <div class="mb-13">
                                        <div class="mb-15">
                                            <h4 class="fs-2x text-gray-800 w-bolder mb-6">Nous contacter</h4>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-12 pe-md-10 mb-10 mb-md-0">
                                                <form method="post" action="" class="form w-100" novalidate="novalidate">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-floating mb-8">
                                                                <input type="text" name="prenom" id="prenom" placeholder="Prénom" class="form-control bg-transparent" />
                                                                <label for="prenom">Prénom</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-floating mb-8">
                                                                <input type="email" name="email" id="email" placeholder="Adresse email" class="form-control bg-transparent" />
                                                                <label for="email">Adresse email</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-floating mb-8">
                                                        <select name="sujet" id="sujet" class="form-select" data-control="select2" data-placeholder="Select an option">
                                                            <optgroup label="Compte">
                                                                <option value="probleme_de_connexion">Problème de connexion</option>
                                                                <option value="mot_de_passe_oublie">Mot de passe oublié</option>
                                                                <option value="modification_informations_compte">Modification des informations du compte</option>
                                                                <option value="suppression-du-compte">Suppression du compte</option>
                                                            </optgroup>
                                                            <optgroup label="Commandes et paiements">
                                                                <option value="suivi_de_commande">Suivi de commande</option>
                                                                <option value="annulation_de_commande">Annulation de commande</option>
                                                                <option value="probleme_de_paiement">Problème de paiement</option>
                                                                <option value="demande_de_facture">Demande de facture</option>
                                                                <option value="code_promotionnel">Code promotionnel</option>
                                                            </optgroup>
                                                            <optgroup label="Livraison et retours">
                                                                <option value="delai_de_livraison">Délai de livraison</option>
                                                                <option value="frais_de_livraison">Frais de livraison</option>
                                                                <option value="retour_d_un_article">Retour d'un article</option>
                                                                <option value="article_endommage_ou_incorrect">Article endommagé ou incorrect</option>
                                                                <option value="adresse_de_livraion_erronnee">Adresse de livraison erronée</option>
                                                            </optgroup>
                                                            <optgroup label="Jeux">
                                                                <option value="information_sur_un_jeu">Information sur un jeu</option>
                                                                <option value="disponibilite_d_un_jeu">Disponibilité d'un jeu</option>
                                                                <option value="version_du_jeu">Version du jeu</option>
                                                                <option value="code_de_telechargement">Code de téléchargement</option>
                                                            </optgroup>
                                                            <optgroup label="Support technique">
                                                                <option value="probleme_installation">Problème d'installation</option>
                                                                <option value="bug_du_jeu">Bug du jeu</option>
                                                                <option value="compatibilite">Compatibilité</option>
                                                                <option value="configuration_requise">Configuration requise</option>
                                                            </optgroup>
                                                            <optgroup label="Autres">
                                                                <option value="suggestion">Suggestion</option>
                                                                <option value="reclamation">Réclamation</option>
                                                                <option value="partenariat">Partenariat</option>
                                                                <option value="demande_renseignement_generaux">Demande de renseignements généraux</option>
                                                            </optgroup>
                                                        </select>
                                                        <label for="sujet">Sujet du message</label>
                                                    </div>
                                                    <div class="form-floating mb-8">
                                                        <textarea name="message" id="message" class="form-control" placeholder="Message" style="height: 100px;"></textarea>
                                                        <label for="message">Message</label>
                                                    </div>
                                                    <div class="row d-flex justify-content-center">
                                                        <div class="col-auto">
                                                            <button type="submit" class="btn btn-success w-100">Envoyer</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / FORMULAIRE DE CONTACT -->

                </div>
            </div>
        </div>
        
    </div>
</div>