<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
    <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <div class="d-flex flex-column flex-column-fluid">
            <div id="kt_app_content" class="app-content">
                <div id="kt_app_content_container" class="app-container container-fluid">

                    <!-- CGU -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body p-lg-15">
                                    <div>
                                        <div class="mb-15">
                                            <h4 class="fs-2x text-gray-900 w-bolder mb-6 text-center">Conditions Générales d'Utilisation</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 pe-md-10 mb-md-0">
                                                <p class="fs-4 text-gray-900" style="text-align: justify!important;">Paragraphe 1</p>
                                                <p class="fs-4 text-gray-900" style="text-align: justify!important;">Paragraphe 2</p>
                                                <p class="fs-4 text-gray-900" style="text-align: justify!important;">Paragraphe 3</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / CGU -->

                </div>
            </div>
        </div>
    </div>

</div>