<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
    <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <div class="d-flex flex-column flex-column-fluid">
            <div id="kt_app_content" class="app-content">
                <div id="kt_app_content_container" class="app-container container-fluid">

                    <!-- FORMULAIRE DE CONNEXION -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-body p-lg-15">
                                    <div>
                                        <div class="mb-15">
                                            <h4 class="fs-2x text-gray-800 w-bolder mb-6 text-center">Connexion</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 pe-md-10 mb-md-0">
                                                <form method="post" action="" class="form w-100" novalidate="novalidate">
                                                    <div class="form-floating mb-3">
                                                        <input type="email" name="email" id="email" placeholder="Adresse email" class="form-control bg-transparent" />
                                                        <label for="email">Adresse email</label>
                                                    </div>
                                                    <div class="form-floating mb-3">
                                                        <input type="password" name="password" id="password" placeholder="Mot de passe" class="form-control bg-transparent" />
                                                        <label for="password">Mot de passe</label>
                                                    </div>
                                                    <div class="mb-8" align="right">
                                                        <a href="mdp-oublie.html">Mot de passe oublié ?</a>
                                                    </div>
                                                    <div class="row d-flex justify-content-center">
                                                        <div class="col-auto">
                                                            <button type="submit" class="btn btn-primary">Se connecter</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / FORMULAIRE DE CONNEXION -->

                </div>
            </div>
        </div>
        
    </div>
</div>