<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper"*ngIf="jeu">
  <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
    <div class="d-flex flex-column flex-column-fluid">
      <div id="kt_app_toolbar" class="app-toolbar pt-10 mb-10">
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
          <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
            <div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
              <h1 class="page-heading d-flex flex-column justify-content-center text-gray-900 fw-bold fs-3 m-0">
                {{ jeu.nom }}
              </h1>
              <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0">
                <li class="breadcrumb-item text-muted">{{ jeu.category }}</li>
              </ul>
            </div>
            <div class="card-body pt-0">
              <div class="header-show row d-flex">
                <div class="col-auto">
                  <button class="btn btn-primary btn-flex btn-center active" [routerLink]="'/jeux/' + jeu.reference + '/edit'">Modifier le jeu</button>
                </div>
                <div class="col-auto">
                  <button class="btn btn-primary btn-flex btn-center active" (click)="deleteJeu()">Supprimer le jeu</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="kt_app_content" class="app-content app-content-stretch">
        <div id="kt_app_content_container" class="app-container container-fluid">
          <form id="kt_ecommerce_add_product_form" class="form d-flex flex-column flex-lg-row">
            <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10 ms-3">
              <div class="card card-flush py-4">
                <div class="card-body text-center pt-0">
                  <img [src]="jeu.image" class="mh-250px" [alt]="jeu.nom">
                </div>
              </div>
              <div class="card card-flush py-4">
                <h2 class="fw-bold text-center py-5">{{ jeu.prix }} €</h2>
                <div class="card-body pt-0">
                  <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                      <button class="btn btn-primary btn-flex btn-center active">Ajouter au panier</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card card-flush py-4">
                <div class="card-body">
                  <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                      <button class="btn btn-primary btn-flex btn-center active">
                        <i class="fa-regular fa-heart fs-4 me-1"></i>
                        Ajouter à la liste d'envies
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
              <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-n2">
                <li class="nav-item">
                  <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#informations">Informations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#avis">Avis</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#notations">Notations</a>
                </li>
              </ul>
              <div class="tab-content">
                <!-- Onglet : Informations -->
                <div class="tab-pane fade show active me-3" id="informations" role="tab-panel">
                  <div class="d-flex flex-column gap-7 gap-lg-10">
                    <div class="card card-flush py-4">
                      <div class="card-header">
                        <div class="card-title">
                          <h2>Vue d'ensemble</h2>
                        </div>
                      </div>
                      <div class="card-body pt-0">
                        <p class="fs-4 text-gray-900" style="text-align: justify!important;">
                          {{ jeu.description }}
                        </p>
                      </div>
                    </div>
                    <div class="card card-flush py-4">
                      <div class="card-header">
                        <div class="card-title">
                          <h2>Date de sortie</h2>
                        </div>
                      </div>
                      <div class="card-body pt-0">
                        <p class="fs-4 text-gray-900">{{ jeu.dateAjout | date: 'dd/MM/yyyy' }}</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="successMessage" class="alert alert-success mt-4">{{ successMessage }}</div>
                <div *ngIf="errorMessage" class="alert alert-danger mt-4">{{ errorMessage }}</div>

                <div class="tab-pane fade me-3" id="avis" role="tab-panel">
                  <div class="d-flex flex-column gap-7 gap-lg-10">
                    <app-avis
                      [jeuReference]="jeu.reference" (avisCreated)="onAvisCreated($event)" (avisError)="onAvisError($event)">
                    </app-avis>
                  </div>
                </div>

                <div class="tab-pane fade" id="notations" role="tab-panel">
                  <div class="d-flex flex-column gap-7 gap-lg-10">
                    <div class="card card-flush py-4">
                      <div class="card-header">
                        <div class="card-title">
                          <h2>Notations des clients</h2>
                        </div>
                      </div>
                      <div class="card-body pt-0">
                        <table class="table table-row-dashed fs-6 gy-5 my-0">
                          <thead>
                          <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                            <th class="min-w-125px">Notation</th>
                            <th class="min-w-175px">Client</th>
                            <th class="min-w-100px text-end fs-7">Date</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let note of jeu.notations">
                            <td>
                              <div class="rating">
                                <ng-container *ngFor="let star of [].constructor(note.stars)">
                                  <i class="ki-outline ki-star fs-6"></i>
                                </ng-container>
                              </div>
                            </td>
                            <td>{{ note.client }}</td>
                            <td class="text-end">{{ note.date | date: 'dd/MM/yyyy' }}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- / Onglet : Notations -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
